# **IN401109 พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์**

# **1. คำสั่งในการแสดงผล**

```
print(สิ่งที่ต้องการแสดงผล)
```

สามารถใช้การแสดงผลได้หลายรูปแบบ เช่น ข้อความ ตัวเลข ตัวแปร เป็นต้น

**1. การแสดงผลข้อความ**

  ต้องใช้สัญลักษณ์ "..." หรือ '...' สามารถใช้ได้ทั้ง 2 แบบ เพื่อกำหนดว่าค่านั้นคือ "ข้อความ"

  ```
  print("IN401109")

  print('พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์')
  ```

**2. การแสดงผลตัวเลข**

  เราสามารถใส่ตัวเลขลงไปได้เลย

  ```
  print(225)

  print(783.4841)
  ```
**3. การแสดงผลตัวแปร**

  เราสามารถใส่ตัวแปรลงได้ได้เลยเช่นกัน

  ```
  print(x)

  print(num)
  ```

In [ ]:
# การแสดงผลข้อความ
print("IN401109")
print('พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์')
print("IN401109",'พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์')
print("IN401109"+'พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์')

IN401109
พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์
IN401109 พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์
IN401109พื้นฐานวิทยาการข้อมูลและปัญญาประดิษฐ์

In [ ]:
# การแสดงผลตัวเลข
print(225)
print(783.4841)
print("ผลรวมของทั้งสองค่า",225+783.4841)

225
783.4841
ผลรวมของทั้งสองค่า 1008.4841

In [ ]:
# การแสดงผลตัวแปร
x = 4
num = [5,89,5.488,"jfi","dwd"]
print("ค่าของ x คือ",x)
print("ค่าของ num คือ",num)

ค่าของ x คือ 4
ค่าของ num คือ [5, 89, 5.488, 'jfi', 'dwd']

# **2. คำสั่งในการตกแต่งการแสดงผล**

การเขียนอักขระพิเศษ จะต้องอยู่ภายในเครื่องหมาย "..." หรือ '...' เท่านั้น เพราะถือว่าเป็นประเภทข้อความ

โดยการเขียอักขระพิเศษนั้น ต้องขึ้นต้นด้วย \ เสมอ

*   \n   เป็นการขึ้นบรรทัดใหม่
*   \t   เป็นการกด Tab

In [ ]:
# การแสดงผลโดยใช้ \n ร่วมด้วย
print("12")           #พิมพ์ปกติ
print("34")
print("56")
print("============")
print("12\n34\n56")   #พิมพ์โดยใช้ \n

12
34
56
============
12
34
56

In [ ]:
# การแสดงผลโดยใช้ \t ร่วมด้วย
print("วัน","เดือน","ปี")      #พิมพ์ปกติ
print("5","7","2567")
print("===================")
print("วัน"," เดือน"," ปี")    #พิมพ์ปกติแต่เพิ่มเว้นวรรค
print("5","  7","    2567")
print("===================")
print("วัน\t","เดือน\t","ปี")  #พิมพ์โดยใช้ \t
print("5\t","7\t","2567")

วัน เดือน ปี
5 7 2567
===================
วัน  เดือน  ปี
5   7     2567
===================
วัน	 เดือน	 ปี
5	 7	 2567

# **กิจกรรมที่ 1**

**จงทำตามรูปแบบที่กำหนดให้ โดยต้องใช้คำสั่งในการตกแต่งการแสดงผลร่วมด้วย**

![image.png]()

In [ ]:
# กิจกรรมที่ 1

print("ชื่อ\t:\tนางสาวบุณยวีย์ ตินานพ")
print("สาขา\t:\tวิทยาการคอมพิวเตอร์ และสารสนเทศ")
print("วิชาเอก\t:\tวิทยาการข้อมูลและปัญญาประดิษฐ์")
print("วันเกิด\t:\t07\nเดือนเกิด\t:\tเมษายน\nปีเกิด\t:\t2547")
print("อายุ\t:\t21 ปี")

# **3. การสร้างตัวแปร**

ตัวแปร (Variable) คือที่ตั้ง (storage location) หรือชื่อ (identifier) ที่เราใช้เพื่อเก็บข้อมูลหรือค่าต่างๆ ในโปรแกรม ตัวแปรสามารถเก็บค่าหลายประเภท

โดยมีกฏการตั้งชื่อตัวแปรดังนี้
1. ขึ้นต้นด้วยตัวอักษรภาษาอังกฤษ แล้วตามด้วยตัวอักษรหรือตัวเลขใดๆก็ได้ (ห้ามขึ้นต้นด้วยตัวเลข)
2. ห้ามเว้นช่องว่าง และห้ามใช้สัญลักษณ์พิเศษนอกเหนือจาก underscore “_” เท่านั้น
3. ตัวอักษรของชื่อจะคำนึงถึงความแตกต่างระหว่างอักษรตัวพิมพ์ใหญ่กับตัวพิมพ์เล็ก
4. จะต้องไม่ซ้ำกับคำสงวน (Reserved word, Keyword)
5. ควรจะตั้งชื่อโดยให้ชื่อนั้นมีสื่อความหมายให้เข้ากับข้อมูล สามารถอ่านและเข้าใจได้
6. ห้ามใช้เครื่องหมายต่อไปนี้ในการตั้งชื่อตัวแปร !,@, #, $, %, ^, &, *, (, ), -, =, \, |, +, ~
7. ตัวแปรที่มีพิมพ์ใหญ่และตัวพิมพ์เล็กผสมกันจะมีความหมายต่างกัน กับตัวพิมพ์เล็กเพียงอย่างเดียว

**Many Values to Multiple Variables**

สามารถทำได้โดยการแยกค่าด้วยเครื่องหมายจุลภาค (comma) และกำหนดให้กับตัวแปรที่แยกด้วยเครื่องหมายจุลภาคเช่นกัน

In [ ]:
# กำหนดหลายค่าพร้อมกันให้กับหลายตัวแปร

name, age, city = "Alice", 25, "New York"
print(name, age, city)

Alice 25 New York

In [ ]:
# สลับค่า

x, y = 5, 10
print(x, y)
x, y = y, x
print(x, y)

5 10
10 5

In [ ]:
#การใช้งานกับข้อมูลในรูปแบบลิสต์

person_info = ["Alice", 30, "Engineer"]
name, age, occupation = person_info
print(name)
print(age)
print(occupation)

Alice
30
Engineer

# **กิจกรรมที่ 2**

จากตัวอย่างการตั้งชื่อต่อไปนี้ ข้อใดถูก ข้อใดผิดเพราะอะไร

1.my_name
<p>ตอบ ถูก

2.my name
<p>ตอบ ผิด เพราะมีเว้นวรรค

3.age
<p>ตอบ ถูก

4.123abc
<p>ตอบ ผิด เพราะไม่ควรใช้ตัวเลขนำหน้า

5.variable-3
<p>ตอบ ผิด เพราะสัญลักษณ์พิเศษใช้ได้แค่ _ เท่านั้น

6.if
<p>ตอบ ผิด เพราะคือคำสงวน

# **4. Data type ประเภทของข้อมูล**

1.   **ข้อความ** (Text Type) :	**str**
2.   **ตัวเลข** (Numeric Types) :	**int**, **float**, **complex**
3.   **ข้อมูลแบบชุดหลายจำนวน** (Sequence Types) :	**list**, **tuple**, **range**
4.   ข้อมูลแบบจับคู่กับค่ารหัส (Mapping Type) :	dict
5.   **เซต (Set Types) :	set, frozenset**
6.   **ข้อมูลแบบตรรกะ** (Boolean Type) :	**bool**
7.   Binary Types :	bytes, bytearray, memoryview
8.   None Type :	NoneType

โดยที่เราสามารถใช้คำสั่งในการเช็คได้ว่าข้อมูลนั้นคือประเภทอะไร ได้จาก


```
print(type(ตัวแปรที่ต้องการเช็ค))
```

**1. ประเภทข้อความ (str)**
<p> str ย่อมาจาก string มีความหมายว่าข้อความ

*   ข้อมูลรูปแบบข้อความสามารถเป็นอะไรก็ได้ เช่น ตัวอักษรภาษาไทย ภาษาอังกฤษ ตัวเลข เป็นต้น
*   แต่จำเป็นต้องใช้เครื่องหมาย "..." หรือ '...' ครอบไว้ จึงจะถือว่าเป็นประเภทข้อความ
*   ข้อความนั้นไม่สามารถบวกกันได้ หรือก็คือนำมาคำนวณไม่ได้
*   แต่ข้อความนั้นสามารถใช้เครื่องหมาย + ได้ ซึ่งจะเป็นการนำมาต่อกัน ไม่ใช่การเพิ่ม

In [ ]:
# ประเภทข้อความ
x = "5"
y = "five"
z = 'ห้า'

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

**2. ประเภทตัวเลข**

ประเภทของตัวเลขสามารถแบ่งออกได้เป็น 3 ประเภทได้แก่ int, float และ complex ซึ่งสามารถใช้ตัวดำเนินการทางคณิตศาสตร์ หรือก็คือคำนวณได้

1.   int หรือ integer

  *   คือจำนวนเต็ม แบ่งออกเป็น เต็มลบ เต็มศูนย์ เต็มบวก เช่น
  ```
  i1 = -5    #เต็มลบ
  i2 = 0     #เต็มศูนย์
  i3 = 10    #เต็มบวก
  ```
2.   float หรือ floating-point numbers
  *   จำนวนที่เป็นทศนิยม เช่น
  ```
  f1 = -5.124    
  f2 = 0.64      
  f3 = 10.218    
  ```
3.   complex
  *   จำนวนเชิงซ้อน เช่น
  ```
  z1 = 3 + 4j
  z2 = 5 - 2j
  ```

In [ ]:
# การใช้งาน frozenset ในเซ็ตอื่น

fs2 = frozenset([1, 2, 3])
s7 = {fs2, 4, 5}
print(s7)

{1, 3}

In [ ]:
# ประเภทตัวเลข
x = 17
y = 2.89
z = 7 + 1j

print(type(x),"\t\tค่าของ x คือ",x)
print(type(y),"\tค่าของ y คือ",y)
print(type(z),"\tค่าของ z คือ",z)

range(1, 10, 2)

In [ ]:
# การแปลงตัวเลข
a = float(17)
b = int(17.561)
c = int("10")


print(type(a),"\tค่าของ a คือ",a)
print(type(b),"\t\tค่าของ b คือ",b)
print(type(c),"\t\tค่าของ c คือ",c)

<class 'float'> 	ค่าของ a คือ 17.0
<class 'int'> 		ค่าของ b คือ 17
<class 'int'> 		ค่าของ c คือ 10

In [ ]:
# จำนวนเชิงซ้อน
z1 = 3 + 4j

print(z1)
print(z1.real) #ส่วนที่เป็นจริง
print(z1.imag) #ส่วนที่เป็นจิตภาพ

(3+4j)
3.0
4.0

**3. ประเภทข้อมูลแบบชุดหลายจำนวน**
<p> เป็นประเภทข้อมูลที่ใช้ในการเก็บคอลเล็กชันขององค์ประกอบในลำดับที่กำหนด เช่น list, tuple และ range

1.   list

  *   ลำดับขององค์ประกอบที่สามารถแก้ไขได้
  *   องค์ประกอบใน list สามารถเป็นได้ทุกประเภทข้อมูล
  *   สร้างโดยใช้เครื่องหมายวงเล็บเหลี่ยม [  ]
  ```
  my_list = [1, 2, 3, "hello", 4.5]
  ```

2.   tuple

  *   ลำดับขององค์ประกอบที่ไม่สามารถแก้ไขได้
  *   องค์ประกอบใน tuple สามารถเป็นได้ทุกประเภทข้อมูล
  *   สร้างโดยใช้เครื่องหมายวงเล็บ (  )
  ```
  my_tuple = (1, 2, 3, "hello", 4.5)
  ```
3.   range

  *   ลำดับของตัวเลขในช่วงที่กำหนด
  *   ใช้สำหรับการวนลูปหรือสร้างลำดับตัวเลข
  *   สร้างโดยใช้ฟังก์ชัน range(start, stop, step)
  ```
  my_range = range(1, 10, 2)
  ```

In [ ]:
# สร้าง list

ml1 = [1, 2, 3, "hello", 4.5]
print(ml1)
print(type(ml1))

[1, 2, 3, 'hello', 4.5]
<class 'list'>

In [ ]:
# เรียกดูองค์ประกอบใน list ตามตำแหน่งที่ต้องการ

ml2 = [1, 2, 3, "hello", 4.5]
print(ml2[3])

hello

In [ ]:
# เปลี่ยนค่าองค์ประกอบใน list ตามตำแหน่งที่ต้องการ

ml3 = [1, 2, 3, "hello", 4.5]
ml3[3] = "world"
print(ml3)

[1, 2, 3, 'world', 4.5]

In [ ]:
# สร้าง tuple

mt1 = (1, 2, 3, "hello", 4.5)
print(mt1)
print(type(mt1))

(1, 2, 3, 'hello', 4.5)
<class 'tuple'>

In [ ]:
# เรียกดูองค์ประกอบใน tuple ตามตำแหน่งที่ต้องการ

mt2 = (1, 2, 3, "hello", 4.5)
print(mt2[0])

1

In [ ]:
# เปลี่ยนค่าองค์ประกอบใน tuple ตามตำแหน่งที่ต้องการ

mt3 = (1, 2, 3, "hello", 4.5)
mt3[3] = "world"
print(mt3)

In [ ]:
# สร้าง range

mr1 = range(1, 10, 2)
print(mr1)
print(type(mr1))

range(1, 10, 2)
<class 'range'>

In [ ]:
# เรียกดู range

mr1 = range(1, 10, 2)
print(list(mr1))

[1, 3, 5, 7, 9]

**4. เซต (Set)**
<p> เป็นประเภทข้อมูลที่ใช้สำหรับเก็บคอลเล็กชันขององค์ประกอบที่ไม่ซ้ำกัน แบ่งออกเป็น set และ frozenset

1.   set
  *   เป็นคอลเล็กชันขององค์ประกอบที่ไม่ซ้ำกัน สร้างเซตที่มีองค์ประกอบซ้ำได้ แต่เมื่อแสดงผลจะไม่ซ้ำกัน
  *   สามารถแก้ไขได้
  *   ไม่มีลำดับที่แน่นอน
  *   ไม่สามารถเข้าถึงตำแหน่งได้

2.   frozenset
  *   เป็นคอลเล็กชันขององค์ประกอบที่ไม่ซ้ำกัน สร้างเซตที่มีองค์ประกอบซ้ำได้ แต่เมื่อแสดงผลจะไม่ซ้ำกัน
  *   ไม่สามารถแก้ไขได้
  *   ไม่มีลำดับที่แน่นอน
  *   ไม่สามารถเข้าถึงตำแหน่งได้

In [ ]:
# การสร้างเซต

s1 = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5}
s2 = set()

print(s1)
print(s2)

print(type(s1))
print(type(s2))

{1, 2, 3, 4, 5, 6, 9}
set()
<class 'set'>
<class 'set'>

In [ ]:
# การสร้าง set จาก list

s3 = set([1, 2, 3, 4, 5])
print(s3)
print(type(s3))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
# เพิ่มองค์ประกอบ
s4 = {1, 2, 3}

s4.add(4)
print(s4)

{1, 2, 3, 4}

In [ ]:
# ลบองค์ประกอบ

s5 = {1, 2, 3, 4}

s5.remove(2)
s5.discard(6)
print(s5)

{1, 3, 4}

In [ ]:
# การตรวจสอบสมาชิก

s6 = {1, 2, 3}

print(1 in s6)
print(4 in s6)

True
False

In [ ]:
# การสร้าง frozenset

fs1 = frozenset([1, 2, 3, 4])
print(fs1)

frozenset({1, 2, 3, 4})

In [ ]:
# การใช้งาน frozenset ในเซ็ตอื่น

fs2 = frozenset([1, 2, 3])
s7 = {fs2, 4, 5}
print(s7)

{frozenset({1, 2, 3}), 4, 5}

**5. ประเภทตรรกะ (Bool)**
<p> bool หรือ boolean ประเภทข้อมูลที่ใช้ในการแทนค่าความจริง (truth values) ซึ่งมีสองค่าเท่านั้น คือ True และ False

In [ ]:
# การสร้างค่า Boolean

b1 = True
b2 = False

print(type(b1))
print(type(b2))

<class 'bool'>
<class 'bool'>

In [ ]:
# การเปรียบเทียบค่า

b3 = 5
b4 = 10

print(b3 == b4)
print(b3 < b4)
print(b3 > b4)

False
True
False

In [ ]:
# การแปลงประเภทข้อมูลเป็น Boolean

print(bool(1))
print(bool(0))
print(bool([]))
print(bool([1, 2, 3]))
print(bool(""))
print(bool("Hello"))

True
False
False
True
False
True

In [ ]:
# การใช้ตัวดำเนินการทางตรรกะ

a = True
b = False

print(a and b)
print(a or b)
print(not a)
print(a != b)
print(a == b)

False
True
False
True
False

# **กิจกรรมที่ 3**

**จงตอบคำถามต่อไปนี้**

**1.   output ของคำสั่งนี้คืออะไร**
  ```
  x = 3.14
  print(type(x))
  ```

In [ ]:
# 3.output ของคำสั่งนี้คืออะไร
x = 3.14
print(type(x))

<class 'float'>

**2.    output ของคำสั่งนี้คืออะไร**
  ```
  x = [1, 2, 3]
  print(type(x))
  ```

In [ ]:
# 5.output ของคำสั่งนี้คืออะไร
x = [1, 2, 3]
print(type(x))

<class 'list'>

**3. คำสั่งในการลบองค์ประกอบจาก set มีอะไรบ้าง**

ตอบ **remove และ discard**

**4. เราสามารถเปลี่ยนแปลงค่าใน frozenset ได้หรือไม่**

ตอบ **ไม่ได้**

**5. การสร้างโดยใช้ ( ) เป็นการสร้างประเภทข้อมูลชนิดใด**

ตอบ **tuple**

**6. ข้อมูลประเภทตรระกะ มีค่าเป็นอะไรบ้าง**

ตอบ **ture (1) และ false (0)**

**7. เมื่อได้ทำการสร้าง list หรือ tuple แล้ว จากนั้นใช้คำสั่งตามด้านล่าง คือการทำอะไร**

```
print(m[2])
```
ตอบ **แสดงผลตำแหน่งที่ 2**

# **จงจัดเรียงข้อความให้ได้ตามที่กำหนด โดยแก้ไขโปรแกรมจากที่กำหนดให้**

1. ฉันรักคุณ

In [ ]:
# ข้อที่ 1
print("ฉัน"+"รัก"+"คุณ")

ฉันรักคุณ

จงแก้ไข ERROR ที่เกิดขึ้นภายในโปรแกรมนี้

In [ ]:
# ข้อที่ 2

DATA1 = ('kku nkc')
Data2 = (1234)
print(DATA1,Data2)

kku nkc 1234

จงเขียนโปรแกรมที่ทำให้ "ABCDEF" แสดงผลเป็น

A

B C

D E F

โดยโปรแกรมที่เขียนต้องมี 1 บันทัด

In [ ]:
# ข้อที่ 3
print("A\nBC\nDEF")

A
BC
DEF